body {
    background-color: #d2ecf9;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 7px;
    height: 0px;
    width: 7%;
}

h1 {
    font-size: xxx-large;
    color: #253b6e;

}

h3 {
    color: #1f5f8b;
}